{# templates/index.html.twig #}
{# @var form \Symfony\Component\Form\FormView #}
{# @var loanData array #}
{# @var formErrors array|string[] #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 pb-2 pt-2 pl-2 mb-2 border-bottom text-white sp-bg-primary">
            <h1 class="text-center">Loan Estimation Tool</h1>
        </div>
    </div>
	
    <div class="row">
        <div class="col-12 pt-2 mb-3 border-bottom">
            <p>Fill out the short form below to get a quick estimate on a loan</p>
        </div>
    </div>
	
    <div class="row">
        <div class="col-1"></div>

        <div class="content col-10">
            {{ form(form) }}
        </div>

        <div class="col-1"></div>
    </div>

	<div class="results">
	{% if formErrors %}
		{% for error in formErrors %}
			<p>{{ error }}</p>
		{% endfor %}
	{% elseif loanData %}
		<h2>Your Estimated loan:</h2>
		<ul>
			<li>Origination Fee: ${{ loanData.fee }}</li>
			<li>Interest Rate: {{ loanData.interestRate }}%</li>
			<li>Monthly Payment: ${{ loanData.payment | number_format(2) }}</li>
		</ul>
	{% endif %}
	</div>

{% endblock %}
